header {
  min-width: 290px;
  background-color: black;
  padding-top: 15px;
  padding-bottom: 5px;

  h1 {
    color: white;
    text-align: center;
    font-size: 2em;
  }
  p {
    color: #ddd;
    font-style: italic;
    text-align: center;
  }
}
